<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>        
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,700italic,400italic' rel='stylesheet' type='text/css'>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
        <script src="/js/fadeSlideShow.js"></script> 
        <script src="/js/jquery.fancybox.js"></script>        
        
        <script type="text/javascript">
            $(document).ready(function() {
                jQuery('#rdfbanner').fadeSlideShow({
                    width: 640,
                    height: 260,
                    speed: 'slow', 
                    interval: 3000, 
                    PlayPauseElement: false,
                    NextElement: false, 
                    PrevElement: false, 
                    ListElement: false, 
                    autoplay: true               
                });
            });            
        </script>
        
        <script type="text/javascript">
            $(document).ready(function() {
                $("a#image").fancybox({
                    'titleShow' : false,            
                    helpers : {
                        overlay : {
                            css : {
                                'background' : 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        buttons	: {}
                    }                    
                });
            });
        </script>         
                
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/demoStyleSheet.css">  
        <link rel="stylesheet" href="/css/jquery.fancybox.css" />         
    </head>
    <body>
        <div id="mainContainer">
            <div class="header">
                <a href="/" title="Raging Death Films" rel="home" class="logo">
                    <img src="/img/logo.png" alt="Raging Death Films" />
                </a>  
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/shortfilms.html" title="Short Films">Videos</a></li>
                    <li><a href="/blog.html" title="Videos">Blog archive</a></li>                    
                    <li><a href="/contact.html" title="Contact Us">Contact</a></li>                    
                </ul>                                 
            </div>
            <div id="contentContainer">
                
                {{ content }}   
                
            </div>
        </div>
        <div class="footerContainer">
            <div class="footer">
                <p>&copy; Copyright Raging Death Films 2014. All rights reserved. Unauthorised use is prohibited.</p>
            </div>
        </div>         
    </body>    
</html>
